<% @tickets.each do | ticket | %>
    <ul>
        <li><%= link_to ticket.concert.headliner, user_ticket_path(ticket)%></li>
        <li><%= ticket.confirmation %></li>
        <li><%= ticket.quantity %></li>
    </ul>
<% end %>