<br>
<div class="container">
    <h5>Buy your ticket(s) for <%= @concert.headliner %> on <%= @concert.date.strftime("%a %b %e, %Y") %> at <%= @concert.time.strftime("%I:%M %p") %> </h5>
    <br>
    <%= render partial: 'form', locals: { c_t: concert_tickets_path(@concert) } %>
</div>